<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About the Creators</title>
</head>
<body class="creator-body">
  <%- include('./layout/header.ejs') %>
  <main class="creator-main">
    <h1>ABOUT THE CREATORS</h1>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Anthony Johnson</h6>
        <img class="creator-img" src="img/AJ.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>Before I was a software engineer I was a salesman. Stocks, bonds, real estate and mortgages, I sold it all. Now I’m fortunate enough to be able to bring my skills into a different career, combining my knack for speech with my passion for programming. In a perfect world, I would sell apps and sites to potential buyers with the ability to create exactly what they want, a double threat if you will.</p>
          <div class="creator-social">
            <a href="https://github.com/TheAJHarris" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/ajharris-goodrobot/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Barrett Nance</h6>
        <img class="creator-img" src="img/Barrett.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>I recently left my position as the production manager for a single malt whiskey distillery where I orchestrated the brewing, distilling and barreling. The lockdown showed the fragility of my industry and myself within it, so now I’m pursuing a career in software development. In this transition I bring my ability to delve into detail and minutiae and simultaneously maintain the scope of that work. I’d be proud to work for a tech company that seeks to protect and empower the users, instead of commodifying and selling them.</p>
        </div>
        <div class="creator-social">
          <div class="creator-social">
            <a href="https://github.com/baxance" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/barrett-nance/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Leaundrae Mckinney</h6>
        <img class="creator-img" src="img/Drae.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>I’m a transitioning Marine with 10 years of experience across geospatial intelligence, diplomatic security, and transportation. I like to break things and systematically put them back together. I’ve found that programming is my passion and I really take pride in solving difficult problems.</p>
        </div>
        <div class="creator-social">
          <div class="creator-social">
            <a href="https://github.com/UreaLaden" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/leaundrae-mckinney/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Lydia Minehan-Tubic</h6>
        <img class="creator-img" src="img/Lydia.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>I was previously a Program Manager for a company that provided sustainability solutions for organizations. I specifically provided renewable energy solutions to electric utilities. In 2020, I left my company of 7+ years and enrolled in a coding bootcamp with the ambition of moving into tech. I transitioned to Software Development because I wanted to be doing something more technical, and I see tech as the future. Because I enjoyed working in excel, managing financial statements, and tracking and analyzing KPIs in my previous role, my love for numbers, logic, and problem solving seemed like the perfect fit for moving into a career in Software Development. I’d love to be a part of a tech company that prioritizes sustainability, equity, and mindfulness.</p>
        </div>
        <div class="creator-social">
          <div class="creator-social">
            <a href="https://github.com/LydiaMT" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/lydiaminehantubic/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('./layout/footer.ejs') %>
</body>
</html>