<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./styles/base.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="creator-body">
  <%- include('./layout/header.ejs') %>
  <main class="creator-main">
    <h1>ABOUT THE CREATORS</h1>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Anthony Johnson</h6>
        <img class="creator-img" src="img/AJ.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eros donec ac odio tempor. Integer vitae justo eget magna fermentum iaculis eu non diam. Risus quis varius quam quisque id diam vel quam. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Amet risus nullam eget felis. Non arcu risus quis varius quam quisque. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Enim sit amet venenatis urna. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Congue eu consequat ac felis donec et odio pellentesque. Curabitur vitae nunc sed velit dignissim sodales ut eu. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum.</p>
          <div class="creator-social">
            <a href="https://github.com/TheAJHarris" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Barrett Nance</h6>
        <img class="creator-img" src="img/Barrett.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eros donec ac odio tempor. Integer vitae justo eget magna fermentum iaculis eu non diam. Risus quis varius quam quisque id diam vel quam. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Amet risus nullam eget felis. Non arcu risus quis varius quam quisque. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Enim sit amet venenatis urna. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Congue eu consequat ac felis donec et odio pellentesque. Curabitur vitae nunc sed velit dignissim sodales ut eu. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum.</p>
        </div>
        <div class="creator-social">
          <div class="creator-social">
            <a href="https://github.com/baxance" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/barrett-nance/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Leaundrae Mckinney</h6>
        <img class="creator-img" src="img/Drae.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eros donec ac odio tempor. Integer vitae justo eget magna fermentum iaculis eu non diam. Risus quis varius quam quisque id diam vel quam. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Amet risus nullam eget felis. Non arcu risus quis varius quam quisque. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Enim sit amet venenatis urna. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Congue eu consequat ac felis donec et odio pellentesque. Curabitur vitae nunc sed velit dignissim sodales ut eu. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum.</p>
        </div>
        <div class="creator-social">
          <div class="creator-social">
            <a href="https://github.com/UreaLaden" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/leaundrae-mckinney/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-wrapper">
      <div class="creator-left">
        <h6>Lydia Minehan-Tubic</h6>
        <img class="creator-img" src="img/Lydia.jpg"/>
      </div>
      <div class="creator-right">
        <div class="creator-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eros donec ac odio tempor. Integer vitae justo eget magna fermentum iaculis eu non diam. Risus quis varius quam quisque id diam vel quam. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Amet risus nullam eget felis. Non arcu risus quis varius quam quisque. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Enim sit amet venenatis urna. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Congue eu consequat ac felis donec et odio pellentesque. Curabitur vitae nunc sed velit dignissim sodales ut eu. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum.</p>
        </div>
        <div class="creator-social">
          <div class="creator-social">
            <a href="https://github.com/LydiaMT" target="_blank"><img class="social" src="img/gh.png"></a>
            <a href="https://www.linkedin.com/in/lydiaminehantubic/" target="_blank"><img class="social" src="img/link.png"></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('./layout/footer.ejs') %>
</body>
</html>