<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/base.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS</title>
  </head>
<body class="details-page">
  <%- include('./layout/header.ejs') %>
  <main class="update-main">
    <h1>UPDATE YOUR PIN</h1>
    <div class="update-wrapper">
            <!-- ACTION & METHOD-->
      <form action="/details/:user/:id?_method=PUT" method="POST"> 
        <fieldset class="update-input-fields">
          <div class="update-left">
            <label>Modify your visions, set a deadline, or remove your goals from your board</label>
            <!-- DESCRIPTION -->
            <input class="update-input" id="large-msg-box" type="textarea" name="description" placeholder="Add a description">
            <input class="update-input" name="deadline" type="date">
            <!-- DEADLINE -->
            <div class="deadline-checkbox">
              <input class="update-input" type="checkbox" id="complete">
              <label id="complete" for="complete">Goal Achieved</label>
            </div>
          </div>
          <div class="update-right">
                <!-- IMAGE -->
            <img src="/img/img3.jpg" class="update-img"/>
                <!-- BUTTONS-->
            <input class="button" type="submit" value="Update">
          </div>
        </fieldset>
      </form>
                <!-- DELETE -->
      <form class="update-form" action="/details/:user/:id?_method=DELETE" method="POST" >
        <input class="button" type="submit" value="Delete">
      </form>
    </div>
  </main>
  <%- include('./layout/footer.ejs') %>
  <script src="app.js"></script>
</body>
</html>