<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>DETAILS.EJS</h1>

  <form action="<%= /details/:user/:id %>?_method=PUT" method="POST">
    <img src="<%= image %>" alt="">
    <button type="submit" value="update">Update Information</button>
  </form>>
  <form action="<%= /details/:user/:id %>?_method=DELETE" method="POST">
    <img src="<%= image %>" alt="">
    <button type="submit" value="delete">Delete</button>
  </form>>
</body>
</html>