<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oops</title>
</head>
<body class="error-page">
  <%- include('./layout/header.ejs') %>
  <main>
    <h1 class="error-page-text">Oops, something went wrong. Navigate home.</h1>
  </main>
</body>
</html>