<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/base.css">
</head>
<body>
  <h1>WELCOME TO VISION GATE</h1>
  <div class="wrapper">
    <form class="search-form" action="/catagories" method="POST">
      <fieldset class="input-fields">
        <label>Create your very own vision board. Entry your username or create an account below. Then search for keywords that align with your goals such as travel, romance, finance, etc.</label>
        <input class="input" type="text" placeholder="Your username">
        <input class="input" type="text" placeholder="Vision search">
        <input class="button" type="submit" value="search">
        <input class="button" type="submit" value="My Board"> <!-- hide button -->
      </fieldset>
    </form>
  </div>
  <div>
    <h2>Random Quote</h2>
  </div>
</body>
</html>