<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>SAVES.EJS</h1>

  <% visionQuery.visionList.forEach(image => { %>

    <img src="<%= image %>" alt=""> 
    
    <form action="/" method="">
      <input type="text" hidden name="image" value="<%= image %>">
      <input type="text" hidden name="username" value="<%= visionQuery.query.username %>">
      <input type="submit" value="save">
    </form>
  <% }) %>


</body>
</html>