@import url('http://fonts.googleapis.com/css?family=Robot');

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

/*===== Home Page Background & Animations =====*/
.home{
  margin: 0;
  padding: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(90, 90, 90);
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  animation: animate 35s ease-in-out infinite;
}

@keyframes animate{
  0%, 100%{
    background-image: url('/img/img1.jpg');
  }
  20%{
    background-image: url('/img/img2.jpg');
  }
  40%{
    background-image: url('/img/img3.jpg');
  }
  60%{
    background-image: url('/img/img4.jpg');
  }
  80%{
    background-image: url('/img/img5.jpg');
  }
}

/*===== Header & Nav Bar =====*/
.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.navbar li {
  display: inline-block;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.navbar a:hover{
  background:rgb(72, 145, 173)
}

/*===== h1-h6 tags =====*/
h1 {
  text-align: center;
  color: black;
  text-shadow: 0 0 3px #ffffff;
  margin: 50px;
}

h2 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 10px #040255;
  font-style: italic;
}

h3 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
  font-style: italic;
}

h4{
  color: rgb(34, 34, 34);
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  font-size: 20px;
}

h5 {
  text-align: center;
  color: whitesmoke;
  font-size: 15px;
}

h6{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 10px;
}

/*===== Home Page Form =====*/
.wrapper{
  position: relative;
  width: 100%;
}

fieldset {
  border: none;
}

.search-form {
  max-width: 550px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

label {
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: #fff;
  width: 100%;
}

::-webkit-input-placeholder{
  color: #fff;
  font-style: italic;
}

::-moz-input-placeholder{
  color: #fff;
  font-style: italic;
}

::-ms-input-placeholder{
  color: #fff;
  font-style: italic;
}

.button {
  background: rgb(72, 145, 173);
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; 
}

/*===== Home Page Bottom Text =====*/
.quote{
  margin: 50px;
}

.vision-board-about {
  padding: 50px;
  margin: 0;
  background-color: rgba(192, 192, 192, 0.8);
}

.vision-board-about p{
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

/*===== Mobile Home Page Form =====*/
@media screen and (max-width: 600px) {
  .search-form{
    flex-direction: column;
  }
  .input-fields {
    width: 100%;
  }
}

/*===== Details Page Background & Form =====*/
.update-main {
  min-height: 100%;
}

.details-page {
  margin: 0;
  padding: 0;
  background: url('/img/img7.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.update-wrapper{
  width: 100%;
}

fieldset {
  border: none;
}

.update-form {
  max-width: 650px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

.update-img {
  width: 100%;
  justify-content: center;
}

#large-msg-box{
  height: 50px;
}

.deadline-checkbox {
  position: relative;
  height: 50px;
}

#complete, 
input#complete.update-input {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
}

input#complete.update-input {
  margin-bottom: 3px;
  margin-left: 5px;
}

.update-input-fields {
  display: flex;
  flex-direction: row;
}

.update-left,
.update-right {
  width: 45%;
  margin: 10px;
  flex-direction: column;
}

.update-left {
  position: relative;
}

.update-input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: white;
  width: 80%;
}

::-webkit-input-placeholder{
  color: #fff;
}

::-moz-input-placeholder{
  color: #fff;
}

::-ms-input-placeholder{
  color: #fff;
}

.button {
  background: rgb(72, 145, 173);
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  border: 3px black solid;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; 
  width: 100%;
  justify-content: center;
  transition: 0.5s;
}

.button:hover {
  background: rgb(156, 165, 168);
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  border: 3px black solid;
  color: black;
  cursor: pointer;
  text-transform: uppercase; 
  width: 100%;
  justify-content: center;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: #fff;
}

.bottom-left a {
  font-size: 12px;
  font-style: italic;
  color: rgb(216, 216, 216);
}

#complete {
  position: absolute;
  font-size: 14px;
  color: #fff;
  left: 0;
  bottom: 10%;
}

/*===== User board dropdown form =====*/
.drop-down{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.drop-down-form{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 3 solid black;
}

.drop-down-button{
  background: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  border: 3px solid black;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; 
  transition: 0.5s;
  width: 200px;
  height: 30px;
}

.drop-down-button:hover {
  background: rgb(72, 145, 173);
  text-align: center;
  border-radius: 5px;
  border: 3px solid black;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; 
  width: 200px;
  height: 30px;
}

/*===== User board Dark/Light Mode=====*/
.dark-mode {
  background-color: black;
  color: white;
}
  
input.dark-mode {
  background-color: white;
  color: black;
  border: white solid 3px;
}
  
input.dark-mode:hover {
  background: rgb(72, 145, 173);
  text-align: center;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 200px;
  height: 30px;
}
  
button.dark-mode {
  background-color: white;
  color: black;
  border: white solid 3px;
}
  
button.dark-mode:hover {
  background: rgb(72, 145, 173);
  text-align: center;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 200px;
  height: 30px;
}
  
.center-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.toggle-button {
  background: rgb(0, 0, 0);
  text-align: center;
  font-size:10px;
  border-radius: 5px;
  border: 3px solid black;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}
  
.toggle-button:hover {
  background: rgb(72, 145, 173);
  text-align: center;
  font-size:10px;
  border-radius: 5px;
  border: 3px solid black;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}
  
.toggle-button.dark-mode {
  background: rgb(255, 255, 255);
  text-align: center;
  font-size:10px;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}
  
.toggle-button.dark-mode:hover {
  background: rgb(72, 145, 173);
  text-align: center;
  font-size:10px;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
}


/*===== User board Masonry Grid =====*/
.grid-item { 
  width: 400px; 
}

.grid-item img {
  width: 100%;
}

.grid {
  margin: 0 auto;
  text-align: center;
}

.vanish {
  border: none;
  background-color: transparent;
}

/*===== User board hover text =====*/
.grid .grid-item {
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
  opacity: 1;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
}
.grid .grid-item:before {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}
.grid .grid-item img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.grid .grid-item .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.grid .grid-item .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.grid .grid-item .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.grid .grid-item .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.grid .grid-item:focus:before, .grid .grid-item:hover:before, .grid .grid-item:focus span, .grid .grid-item:hover span {
  opacity: 1;
}
.grid .grid-item:focus:before, .grid .grid-item:hover:before {
  top: 50%;
}
.grid .grid-item:focus span, .grid .grid-item:hover span {
  top: 0;
}
.grid .grid-item:focus .title, .grid .grid-item:hover .title {
  transition-delay: 0.15s;
}
.grid .grid-item:focus .info, .grid .grid-item:hover .info {
  transition-delay: 0.25s;
}

/*===== Searches =====*/
.search-container {
  margin-bottom: 40px;
}

.grid-parent{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 600px) {
  .grid-parent{
    display: grid;
    grid-template-columns: 100%;
  }
}

.search-width {
  width: 70%;
}

.pin-button {
  background: rgb(0, 0, 0);
  text-align: center;
  font-size: large;
  border-radius: 10px;
  width: 30%;
  height: 30px;
  margin: 5px;
  border: 3px solid black;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; 
  transition: 0.5s;
}

.pin-button:hover {
  background: rgb(72, 145, 173);
  text-align: center;
  font-size: large;
  border-radius: 10px;
  width: 30%;
  height: 50px;
  margin: 5px;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  text-transform: uppercase; 
}
/*===== Footer =====*/
footer{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  color: #fff;
  bottom: 0;
}

.footer-wrapper{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.footer-wrapper p{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.footer-wrapper a{
  text-decoration: none;
  color: rgb(113, 166, 216);
  display: block;
  font-size: 12px;
}


/*===== Error page =====*/
.error-page{
  background: url('/img/img8.jpg') fixed center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error-page-text {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*===== Creators Page =====*/

.creator-main {
  display: flex;
  flex-direction: column;
}

.creator-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(192, 192, 192, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.creator-wrapper p{
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.creator-left,
.creator-right {
  width: 45%;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creator-img {
  width: 60%;
  border-radius: 50%;
  padding: 10px;
}

.creator-body {
  margin: 0;
  padding: 0;
  background: url('/img/img15.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
}

.social {
  height: 40px;
  margin: 10px;
  bottom: 0px;
  position: relative;
}

.creator-social {
  display: flex;  
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .creator-wrapper{
    display: grid;
    grid-template-columns: 1;
  }
  .creator-left,
  .creator-right {
  width: 90%;
  padding-left: 30px;
}
