<footer>
  <div class="footer-wrapper">
    <a href="#top"><h5>&#8679; BACK TO TOP &#8679;</h5></a>
    <p>Creators: Anthony Johnson, Barrett Nance, Leaundrae Mckinney, Lydia Minehan-Tubic &copy;2021 </p>
    <p><a href="https://github.com/Vision-Gate/vision_gate" target="_blank">GitHub Repository</a></p>
  </div>
</footer>

