<header>
  <nav class="navbar">
    <ul class="nav-ul">
      <li class="nav-li"><a class="nav-a" href="/">HOME</a></li>
      <li class="nav-li"><a class="nav-a" href="./userboard">MY BOARD</a></li>
      <li class="nav-li"><a class="nav-a" href="./about_us">CREATORS</a></li>
    </ul>
  </nav>
  <a name="top"></a>
</header>