<header>
  <nav class="navbar">
    <ul>
      <li><a href="./">HOME</a></li>
      <li><a href="./userboard">MY BOARD</a></li>
      <li><a href="./about_us">CREATORS</a></li>
    </ul>
  </nav>
  <a name="top"></a>
</header>